{% extends 'index.html' %}

{% block main %}

{% if keyword ==='change' %}

<form class="password-modify" action="user/password" method="post">
    <h1>비밀번호 변경</h1>
    <h5>이전에 사용한 적 없는 비밀번호가 안전합니다</h5>

    <input type="password" id="password" name="password" placeholder="현재 비밀번호" /><br />
    <p class="notice" style="display:none">비밀번호가 일치하지 않습니다.</p>
    <input type="password" id="newPassword" name="newPassword" placeholder="새 비밀번호" /><br />
    <input type="password" id="confirmPassword" name="confirmPassword" placeholder="새 비밀번호 확인" /><br />
    <p class="notice" style="display:none">비밀번호가 일치하지 않습니다.</p>
    <button type="submit" id="submit" style="display:none">확인</button><br />
    <a href="/profile">취소</a>
</form>

    {% elif keyword === 'delete' %}
<form class="password-modify" action="user/deleteaccount" method="post">
    <h1>회원 탈퇴</h1>
    <h5>작성한 모든 게시글과 댓글이 삭제됩니다. </h5>
    <input type="password" id="deleteAccount" name="deleteAccount" placeholder="비밀번호를 입력해주세요" /><br />
    <p class="notice">비밀번호가 일치하면 탈퇴 버튼이 나타납니다.</p>
    <button type="submit" id="submit" style="display:none">회원 탈퇴</button><br />
    <a href="/profile">취소</a>
</form>
        {% endif %}



    {% endblock %}


    {% block script %}
    <script src="https://unpkg.com/axios/dist/axios.min.js"></script>

    <script>
        const password = document.getElementById('password');
        const notice = document.getElementsByClassName('notice');
        const newPassword = document.getElementById('newPassword');
        const confirmPassword = document.getElementById('confirmPassword');
        const deleteAccount = document.getElementById('deleteAccount');
        const submit = document.getElementById('submit');

        let result;


        //get 요청으로 보내면 비밀번호가 노출되니까 post로 보냈어

        //비밀번호가 일치하는 지 확인하는 함수
        const checkPassword = function (e) {
            axios.post('user/checkpassword', {
                params: e.target.value
            })
                .then((res) => {
                    if (password && newPassword && confirmPassword) {
                        if (!res.data) {
                            notice[0].style.color = "red";
                            notice[0].style.display = "block";
                            submit.style.display = 'none';
                            result = false;
                        } else if (res.data || e.target.value === '') {
                            notice[0].style.display = "none";
                            result = true;
                            if (newPassword.value === confirmPassword.value && newPassword.value !== '' && confirmPassword.value !== '') {
                                submit.style.display = 'block';
                            } else {
                                submit.style.display = 'none';
                            }
                        }
                    } else {
                        if (res.data && e.target.value !== '') {
                            submit.style.display = 'block';
                            notice[0].style.display = 'none';
                        } else if (!res.data || e.target.value === '') {
                            submit.style.display = 'none';
                            notice[0].style.display = 'block';
                        }
                    }
                })
        }

        //새로운 비밀번호가 일치하는지 확인하는 함수
        const identifyPassword = function (e) {
            if (e.target.value !== newPassword.value || e.target.value !== confirmPassword.value) {
                newPassword.style.border = "2px solid red";
                confirmPassword.style.border = "2px solid red";
                notice[1].style.display = "block";
                notice[1].style.color = "red";
                submit.style.display = 'none';
            } else {
                newPassword.style.border = "2px solid blue";
                confirmPassword.style.border = "2px solid blue";
                notice[1].style.display = "none";

                if (result) {
                    submit.style.display = 'block';
                } else {
                    submit.style.display = 'none';
                }
            }
        }


        if (password && newPassword && confirmPassword) {
            password.addEventListener('change', checkPassword);
            newPassword.addEventListener('keyup', identifyPassword);
            confirmPassword.addEventListener('keyup', identifyPassword);
        } else {
            deleteAccount.addEventListener('keyup', checkPassword);
        }

    </script>
    {% endblock %}
